TestRuns/USNRewardPayOut.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/oraclize.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/simpleWithdrawTrustee.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/08_basiciterator.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/10_creator_balance_checker.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/50_replicator.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/59_byteExtractor.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/65_struct_and_for_loop_tester.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/ballot.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/withdrawBlack.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/21_value_incrementer2.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/45_ping.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/DAOTokenCreationProxyTransferer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/DTHPool.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/PFOffer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/TokenCreation.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/25_msg_examiner.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/46_ping_via_send.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/47_array_passer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/55_2D_array.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/60_array_receiver_and_returner.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/22_value_incrementer3.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/BrokenToken.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/DAO.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/RewardOffer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/15_basic_info_getter.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/48_msg_value_to_bytes20.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/Offer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/05_greeter.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/46_pong_via_send.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/47_string_passer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/57_fixedbytearray_to_byte_array.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/20_value_incrementer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/30_endowment_retriever.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/40_multiple_constructor_test.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/HoneyPot.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/Token.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/simpleWithdraw.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/withdraw.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/35_coin_flipper.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/45_pong.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/47_bytes32_passer.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/58_indexOf.pkl filter=lfs diff=lfs merge=lfs -text
TestRuns/70_contract_detector.pkl filter=lfs diff=lfs merge=lfs -text
