#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 50; 
}

td {
	vertical-align: top;
}

.tbl-options, .tbl-stats {
	width: 100%;
	margin: 10px 10px;
}

.tbl-options td, 
.tbl-stats   td, 
.tbl-stats   th {
	width: 25%;
	text-align: center;
}

.ace_gutter-cell.ace_breakpoint {
	border-radius: 20px 0px 0px 20px;
	box-shadow: 0px 0px 1px 1px red inset;
}