<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

<script src="static/js/newjob.js"></script>

<head>
	<link href="static/css/newjob.css" rel="stylesheet">  
</head>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">S<span class="orange">C</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/home">Dashboard</a></li> -->
        <li class="active"><a href="/">Test Script</a></li>
        <!-- <li><a href="/status">Job Status</a></li> -->
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dd-login"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                            <div class="col-md-12">
                                <div class="social-buttons">
                                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i><span class="social">Facebook</span></a>
                                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i><span class="social">Twitter</a>
                  <a href="#" class="btn btn-google"><i class="fa fa-google"></i><span class="social">Google</a>
                  <a href="#" class="btn btn-github"><i class="fa fa-github"></i><span class="social">Github</span></a>
                                </div>
                                 <form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav" style="padding: 4px;">
                                        <div class="form-group">
                                             <label class="sr-only" for="nav-uname">Email address</label>
                                             <input type="text" class="form-control" id="nav-uname" placeholder="Enter Username" required>
                                        </div>
                                        <div class="form-group">
                                             <label class="sr-only" for="nav-psw">Password</label>
                                             <input type="password" class="form-control" id="nav-psw" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget your password ?</a></div>
                                        </div>
                                        <div class="form-group">
                                             <button type="button" class="btn btn-primary btn-block" id="btn-login" data-toggle="dropdown">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                             <label>
                                             <input type="checkbox" id="nav-remember"> Remember Me
                                             </label>
                                        </div>
                                 </form>
                            </div>
                            <div class="bottom text-center">
                                No account? <a href="/signup"><b>Sign Up Here</b></a>
                            </div>
                     </div>
                </li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-lg-12 home"> 
	<div class="col-md-5 panel" style="height:500px;">
        <!-- <h3> Smart Contract </h3> -->
        <div class="editor-container" id="editor" style="height:500px; margin-top: 40px;"></div>
    </div>
    <div class="col-md-7 panel">
        <div class="col-md-12"> 
            <table class="tbl-options">
        		<td><input type="checkbox" id="tool-oyente" value="Oyente">Test Oyente</td>
        		<td><input type="checkbox" id="tool-mythril" value="Mythril">Test Mythril</td>
            <td><input type="checkbox" id="tool-smartcheck" value="SmartCheck">Test SmartCheck</td>
        		<td><input type="checkbox" id="option-mutants" value="Mutants">Use Mutants</td>
            </table>
    	</div>
    	
    	<div class="col-md-12">
    		<!-- <h3> Output </h3> -->
    		<button type="button" class="btn btn-primary btn-block" onclick="return submit_job();">Run Tests!</button>
            <div id="output">
                <div class="col-md-12" id="stats"></div>
                <h4 style="display:none" id="id-output1">  </h4>                                
                <div class="col-md-12" id="output1"></div>
                <h4 style="display:none" id="id-output2">  </h4>                                
                <div class="col-md-12" id="output2"></div>
                <h4 style="display:none" id="id-output3">  </h4>                                
                <div class="col-md-12" id="output3"></div>
            </div>
    	</div>
    </div>
</div>

<script>
	inject_editor("editor");
</script>

{% endblock %}